/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: whitesmoke;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined {
  background: white;

  .mdc-floating-label {
    text-shadow: 0px -1px 3px white;
  }
}
