<mat-card class="signup-card">
  <mat-card-content class="signup-card__container">
    <h2 class="signup-card__title">Registration</h2>
    <form class="signup-card__form" [formGroup]="form" (ngSubmit)="signUp()">
      <mat-form-field appearance="outline" class="signup-card__form-field">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="emailControl" />
        <mat-error
          *ngIf="
            form.get('emailControl')?.invalid &&
            (form.get('emailControl')?.dirty ||
              form.get('emailControl')?.touched)
          "
        >
          <span *ngIf="form.get('emailControl')?.hasError('required')"
            >Please enter your email</span
          >
          <span *ngIf="form.get('emailControl')?.hasError('email')"
            >This email is invalid</span
          >
          <span *ngIf="form.get('emailControl')?.hasError('existing')"
            >This email already exists</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="signup-card__form-field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="passwordControl" />
        <mat-error
          *ngIf="
            form.get('passwordControl')?.invalid &&
            (form.get('passwordControl')?.dirty ||
              form.get('passwordControl')?.touched)
          "
        >
          <span *ngIf="form.get('passwordControl')?.hasError('required')"
            >Please enter your password</span
          >
          <span *ngIf="form.get('passwordControl')?.hasError('minlength')">
            Your password must contain at least 8 characters
          </span>
        </mat-error>
      </mat-form-field>
      <div class="signup-card__button-container">
        <button
          type="submit"
          [disabled]="!form.valid"
          mat-raised-button
          color="primary"
        >
          Sign up
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
