.signup-card,
.login-card {
  margin: 50px auto;
  max-width: 500px;

  &.mat-mdc-card {
    background: rgba(103, 58, 183, 0.075);
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 40px;
  }

  &__form-field {
    &.mat-form-field-appearance-outline {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &__button-container {
    margin: 20px 0;

    button.mdc-button {
      width: 70%;
      display: block;
      margin: 0 auto;
    }
  }
}

.wrapper {
  padding: 30px;
}
